<?xml version="1.0"?>
<robot name="agvcar">
  <material name="orange">
    <color rgba="1.0 0.5 0.2 1" />
  </material>
  <material name="gray">
    <color rgba="0.2 0.2 0.2 1" />
  </material>

  <!-- base_footprint -->
  <link name="base_footprint"/>

  <!-- base_link -->
  <link name="base_link"/>
  <joint name="base_link_joint" type="fixed">
    <parent link="base_footprint" />
    <child link="base_link" />
    <origin xyz="0 0 0.0" rpy="0 0 0.0" />
  </joint>

  <!-- laser_link -->
  <link name="laser_link"/>
  <joint name="laser_link_joint" type="fixed">
    <parent link="base_link" />
    <child link="laser_link" />
    <origin xyz="-0.045 0.0 0.141" rpy="0 0 0" />
  </joint>  
  
</robot>
