<launch>
  <!-- robot model -->
  <!-- <include file="$(find my_simrobot)/launch/my_simrobot_bringup.launch"/> -->
  <include file="$(find car4wd)/launch/my_simrobot_bringup.launch"/>

  <!-- Map server -->
  <include file="$(find car4wd)/launch/include/my_map_server.launch.xml"/>

  <!-- Amcl -->
  <include file="$(find car4wd)/launch/include/my_amcl.launch.xml"/>

  <node pkg="controller" type="test_controller" respawn="false" name="art_car_controller" output="screen">    
  <param name="Vcmd" value="3.0" /> 
        <param name="Vcmd_low" value="1.5" /> 
        <param name="speed_decrease_p " value="2.0"/>          
        <!-- ESC -->
        <param name="baseSpeed" value="1545"/> <!-- pwm for motor constant speed, 1500: stop   2.8--> 
 

        <!-- Servo -->
        <param name="controller_freq" value="100.0"/> 
        <param name="baseAngle" value="83.0"/> <!-- the middle pos of servo, for tt02: 87, for hsp: ? -->
        <!-- <param name="AngleGain" value="-6.0"/> for tt02: >0, for hsp: <0	 -->
        <param name="GasGain" value="35.0"/>
        <param name="speed_ki" value="0.7"/>
        
        <!-- <param name="angle_kd" value="5"/> -->


        <!-- <param name="AngleGain" value="-8.5"/>  -->
        <param name="AngleGain" value="-6.2"/> 


        <param name="angle_kd" value="0"/> 
        <param name="odom_pure_pursuit" value = "/odom"/>
        <param name="coefficient_Vcmd" value="0.6"/> 

        <param name="coefficient_dist_low" value="0.6"/> 
        <param name="coefficient_dist_high" value="1.8"/> 
        <param name="index" value="0"/> 
        <param name="len" value="25"/> 
  </node>

  <!-- Move base -->
  <!-- <include file="$(find car4wd)/launch/include/my_move_base.launch.xml"/> -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find car4wd)/param/costmap_2d/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find car4wd)/param/costmap_2d/costmap_common_params.yaml" command="load" ns="local_costmap" />   
    <rosparam file="$(find car4wd)/param/costmap_2d/global_costmap_params.yaml" command="load" />    
    <rosparam file="$(find car4wd)/param/costmap_2d/local_costmap_params.yaml" command="load" />   
    <rosparam file="$(find car4wd)/param/planner/dwa_local_planner_params.yaml" command="load" />
    <rosparam file="$(find car4wd)/param/planner/global_planner_params.yaml" command="load" />
    <rosparam file="$(find car4wd)/param/planner/navfn_global_planner_params.yaml" command="load" />
    <!-- <rosparam file="$(find car4wd)/param/move_base/move_base_params.yaml" command="load" /> -->
    <remap from="/cmd_vel" to="/fake_cmd" />
  </node>


  <!-- rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find car4wd)/rviz/simrobot_navigation.rviz" />

</launch>