<launch>
  <!-- robot model -->
  <include file="$(find my_simrobot)/launch/my_simrobot_bringup.launch"/>

  <!-- Map server -->
  <include file="$(find my_simrobot)/launch/include/my_map_server.launch.xml"/>

  <!-- Amcl -->
  <include file="$(find my_simrobot)/launch/include/my_amcl.launch.xml"/>

  <!-- Move base -->
  <include file="$(find my_simrobot)/launch/include/my_move_base.launch.xml"/>

  <!-- rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find my_simrobot)/rviz/simrobot_navigation.rviz" />

</launch>