<launch>

  <arg name="debug" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <!--<arg name="rvizconfig" default="$(find my_simrobot)/rviz/simrobot_gmapping.rviz"/>-->

  <!-- Start Gazebo with a blank world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!--<arg name="world_name" value="$(find my_simrobot)/worlds/123.world"/>-->
    <!--<arg name="world_name" value="$(find my_simrobot)/worlds/my_build_model.world"/>-->
    <arg name="world_name" value="$(find my_simrobot)/worlds/my_simple_model.world"/>
    <!--<arg name="world_name" value="$(find my_simrobot)/worlds/my_mase.world"/>-->
    <!--<arg name="world_name" value="$(find my_simrobot)/worlds/ROS-Academy.world"/>-->
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <!-- Oh, you wanted a robot? -->
  <include file="$(find my_simrobot)/launch/include/my_simrobot.launch.xml" />

  <!-- start grip -->
  	<group ns="grip">
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find aubo_description)/urdf/aubo_i5_robot_gazebo.urdf.xacro' ns:=grip" />
  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model robot -z 0.49" respawn="false" output="screen" />
	</group>


  <!--  rviz  -->
  <!--<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true"/>-->
  
</launch>
