<launch>

  <!-- robot model -->
  <include file="$(find my_simrobot)/launch/my_simrobot_bringup.launch"/>
  
  <!-- slam_gmapping -->  
  <include file="$(find my_simrobot)/launch/include/my_slam_gmapping.launch.xml"/>
  <!--<include file="$(find gmapping)/launch/my_slam_gmapping_pr2.launch.xml"/>-->

  <!-- rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find my_simrobot)/rviz/simrobot_gmapping.rviz" />

</launch>