<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="robot_description" >

  <!-- common stuff -->
  <xacro:include filename="$(find car4wd)/urdf/common.gazebo.xacro" />

  <!-- aubo_i5 -->
  <xacro:include filename="$(find car4wd)/urdf/aubo_i5.urdf.xacro" />

  <!-- arm -->
  <xacro:aubo_i5_robot prefix=""/>
  <link name="c_link"/>

  <joint name="world_joint" type="fixed">
    <parent link="base_link"/>
    <child link="base_Link"/>
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

</robot>
