<?xml version="1.0"?>
<robot xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
  xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
  xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
  xmlns:xacro="http://ros.org/wiki/xacro"
  name="robot_urdf.gazebo">

  <xacro:include filename="$(find car4wd)/urdf/car4wd.urdf.xacro"/>
  <xacro:include filename="$(find car4wd)/urdf/car4wd.gazebo"/>
  <xacro:include filename="$(find car4wd)/urdf/aubo_i5.urdf.xacro"/>
  <!--xacro:include filename="$(find car4wd)/urdf/rplidar_laser.gazebo.xacro"/-->
<xacro:aubo_i5_robot prefix=""/>
<xacro:car />

  <joint name="world_joint" type="fixed">
    <parent link="base_link"/>
    <child link="base_Link"/>
    <origin xyz="0.0 0.0 0.2" rpy="0.0 0.0 0.0" />
  </joint>
</robot>
