<?xml version="1.0"?>
<robot xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
  xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
  xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
  xmlns:xacro="http://ros.org/wiki/xacro"
  name="robot_urdf.gazebo">

  <xacro:include filename="$(find car4wd)/urdf/car4wd.urdf"/>
  <xacro:include filename="$(find car4wd)/urdf/car4wd.gazebo"/>
  <xacro:include filename="$(find car4wd)/urdf/rplidar_laser.gazebo.xacro" />

  <!--<xacro:hokuyo_lx30_laser_gazebo_v0 name="${name}" ros_topic="${ros_topic}" update_rate="${update_rate}" min_angle="${min_angle}" max_angle="${max_angle}" />-->

</robot>
